$border-radius: 0.375rem;

$page_background: black;
$page_gray: #212529;
$page_darker_gray: #1c1f22;
$page_lighter_gray: #2d2f31;
$page_even_lighter_gray: #3b3e41;
// $page_accent: #3f51b5;
$page_accent_darker: #344295;
$text_color: lightgray;
$page_gray_text: gray;
$page_dark_text: black;
$page_outdated_text: #686868;

$nav-height: 64.4px;
$content-width: 80ch;

$primary: #3f51b5;
$secondary: $page_lighter_gray;
// $success: ;
$info: $page_gray_text;
// $warning: ;
$danger: #bb0000;
$light: $text_color;
$dark: $page_gray;

$body-secondary-bg-dark: $secondary;

// $text-color: $text_color;
$enable-rounded: true;

// $btn-primary-color: lightgray;

$btn-padding-y: 0.7rem;
$btn-padding-x: 1rem;

.btn-primary {
  color: $text_color;
}

$input-bg: $page_lighter_gray;
$input-disabled-bg: $page_lighter_gray;
$input-color: $text_color;
// $input-border-width: 1px;
$input-border-color: $page_lighter_gray;
$input-placeholder-color: $page_gray_text;
$input-padding-y: $btn-padding-y;
$input-padding-x: .5rem;

$input-focus-box-shadow: none;
$input-focus-border-color: $primary;

$input-group-addon-bg: $page_lighter_gray;
$input-group-addon-padding-x: 0.3rem;
$input-group-addon-padding-y: $input-group-addon-padding-x;

$display-font-sizes: (
  1: 4.5rem,
  2: 4rem,
  3: 3.5rem,
  4: 3rem,
  5: 2.5rem,
  6: 2rem
);

$form-check-input-width: 1.5em;
$form-check-input-border-radius: $border-radius;
$form-invalid-color-dark: $danger;
$form-invalid-border-color-dark: $danger;

$card-bg: $page_lighter_gray;
$card-border-width: 1px;
$card-border-color: none;

$dropdown-border-color: $page_darker_gray;

:root {
  --slider-connect-bg: #{$primary};
  --slider-tooltip-bg: #{$primary};
  --slider-handle-ring-color: #3b82f630;
}
