$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("assets/fonts/icons/icons.eot?35f72696bb50029a7e670f366b3f20f4#iefix") format("embedded-opentype"),
url("assets/fonts/icons/icons.woff2?35f72696bb50029a7e670f366b3f20f4") format("woff2"),
url("assets/fonts/icons/icons.woff?35f72696bb50029a7e670f366b3f20f4") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "arrow-down-up": "\f101",
    "arrow-left": "\f102",
    "arrow-right": "\f103",
    "calendar": "\f104",
    "check": "\f105",
    "exclamation-triangle-fill": "\f106",
    "github": "\f107",
    "gitlab": "\f108",
    "pedestrian": "\f109",
    "person-walking-solid": "\f10a",
    "record-circle": "\f10b",
    "record-fill": "\f10c",
    "share-fill": "\f10d",
    "swap": "\f10e",
    "train": "\f10f",
);

.icon-arrow-down-up:before {
    content: map-get($icons-map, "arrow-down-up");
}
.icon-arrow-left:before {
    content: map-get($icons-map, "arrow-left");
}
.icon-arrow-right:before {
    content: map-get($icons-map, "arrow-right");
}
.icon-calendar:before {
    content: map-get($icons-map, "calendar");
}
.icon-check:before {
    content: map-get($icons-map, "check");
}
.icon-exclamation-triangle-fill:before {
    content: map-get($icons-map, "exclamation-triangle-fill");
}
.icon-github:before {
    content: map-get($icons-map, "github");
}
.icon-gitlab:before {
    content: map-get($icons-map, "gitlab");
}
.icon-pedestrian:before {
    content: map-get($icons-map, "pedestrian");
}
.icon-person-walking-solid:before {
    content: map-get($icons-map, "person-walking-solid");
}
.icon-record-circle:before {
    content: map-get($icons-map, "record-circle");
}
.icon-record-fill:before {
    content: map-get($icons-map, "record-fill");
}
.icon-share-fill:before {
    content: map-get($icons-map, "share-fill");
}
.icon-swap:before {
    content: map-get($icons-map, "swap");
}
.icon-train:before {
    content: map-get($icons-map, "train");
}
