$icons-font: "icons";

@font-face {
    font-family: $icons-font;
    src: url("assets/fonts/icons/icons.eot?4ce910a36878b4decd9cc8fb4a637f75#iefix") format("embedded-opentype"),
url("assets/fonts/icons/icons.woff2?4ce910a36878b4decd9cc8fb4a637f75") format("woff2"),
url("assets/fonts/icons/icons.woff?4ce910a36878b4decd9cc8fb4a637f75") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "arrow-down-up": "\f101",
    "calendar": "\f102",
    "check": "\f103",
    "github": "\f104",
    "gitlab": "\f105",
    "pedestrian": "\f106",
    "person-walking-solid": "\f107",
    "share-fill": "\f108",
    "swap": "\f109",
    "train": "\f10a",
);

.icon-arrow-down-up:before {
    content: map-get($icons-map, "arrow-down-up");
}
.icon-calendar:before {
    content: map-get($icons-map, "calendar");
}
.icon-check:before {
    content: map-get($icons-map, "check");
}
.icon-github:before {
    content: map-get($icons-map, "github");
}
.icon-gitlab:before {
    content: map-get($icons-map, "gitlab");
}
.icon-pedestrian:before {
    content: map-get($icons-map, "pedestrian");
}
.icon-person-walking-solid:before {
    content: map-get($icons-map, "person-walking-solid");
}
.icon-share-fill:before {
    content: map-get($icons-map, "share-fill");
}
.icon-swap:before {
    content: map-get($icons-map, "swap");
}
.icon-train:before {
    content: map-get($icons-map, "train");
}
